#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
}

.app{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

