.downflow-background {
    background-color:#fbf4e2;
    z-index: 2;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
   
 
}

.img-background {
    width: 652px;
    height: 1153px;
    overflow: hidden;
    
}
.img-background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}