.lookbook {
    background-color: transparent;
    max-width: 1900px;
    max-height: 900px;
    position: relative;
    z-index: 1;
    top: 140px;
    display: flex;
  
 
}
.chanelMain {
    max-width: 100%;
    max-height: 900px;
    object-fit: cover;
    border-radius: 15px;
}   